<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/resources/css/sign.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->

<body class="hm-gradient">

<main>

    <!--MDB Forms-->
    <div class="container mt-4">

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
                <div class="card indigo form-white">
                    <div class="card-body">
                        <h3 class="text-center white-text py-3"><i class="fa fa-user"></i> Login:</h3>
                        <!--Body-->
                        <form class="form-signin" th:action="@{/customLogin}" method="post" th:object="${user}">
                            <div class="md-form">
                                <i class="fa fa-envelope prefix white-text"></i>
                                <input type="text" th:field="*{username}" id="username" name="username" class="form-control">
                                <label for="username">Your username</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix white-text"></i>
                                <input type="password" th:field="*{password}" id="password" name="password" class="form-control">
                                <label for="password">Your password</label>
                            </div>
                            <div class="text-center">
                                <input type="hidden" name="${_csrf.parameterName}"
                                       value="${_csrf.token}" />
                                <button class="btn btn-outline-white waves-effect waves-light">next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Grid column -->
        </div>


    </div>
    <!--MDB Forms-->

</main>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

</body>
</html>