<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Table Info</title>

</head>

<body class="text-center">
<div sec:authorize="isAnonymous()">You have to login to delete or update list</div>
<div sec:authorize="isAuthenticated()">
    <h2 th:text="${table.name}"></h2>

    <h2>Add new Task List</h2>
    <form th:action="@{/rest/tasklist/__${table.id}__}" method="post" th:object="${newTask}">
        <label for="name">Task List Name</label>
        <input type="text" th:field="*{name}" id="name" name="name"  placeholder="name" required autofocus>

        <button type="submit">Create</button>
    </form>
    <table >
        <tr>
            <th>Task List name</th>
        </tr>
        <tr th:each="taskList : ${taskLists}">
            <td th:text="${taskList.name}"></td>
        </tr>
    </table>
</div>
</body>
</html>
