<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Task List Info</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>
</head>

<body class="text-center">
<div sec:authorize="isAnonymous()">You have to login to delete or update task</div>
<div sec:authorize="isAuthenticated()">
    <h2 th:text="${tasklist.name}"></h2>

    <h2>Add new Task </h2>
    <form th:action="@{/rest/tasklist/__${tasklist.id}__/tasks/add}" method="post" th:object="${newTask}">
        <label for="name">Task List Name</label>
        <input type="text" th:field="*{name}" id="name" name="name"  placeholder="name" required autofocus>

        <br>
        <span>Select dependency task</span>
        <tr th:each="task : ${tasks}" id="taskBoxes">
            <td>
                <input type="checkbox" th:field="${newTask.dependencyID}" th:value="${task.id}">
                <label th:text="${task.name}"></label>
            </td>
        </tr>

        <button type="submit">Create</button>
    </form>
    <table >
        <tr>
            <th>Tasks name</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.name}"></td>
        </tr>
    </table>
</div>

<p>
    Create a simple network with some nodes and edges.
</p>

<div id="mynetwork"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var message = /*[[${tasks}]]*/ 'default';

    /*]]>*/
    var array = [];
    message.forEach(function (task) {
        array.push({id:task.id, label: task.name});

    });
    // create an array with nodes
    var nodes = new vis.DataSet(array);

    var array2 = [];
    message.forEach(function (task) {
        if (task.taskRelation.length != 0 ){
            task.taskRelation.forEach(function (taskPar) {
                array2.push({from:taskPar.id, to: task.id, arrows:'to'});
            });
        }
    });
    // create an array with edges
    var edges = new vis.DataSet(array2);

    // create a network
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};
    var network = new vis.Network(container, data, options);
</script>

</body>
</html>
