<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Task List Info</title>

</head>

<body class="text-center">
<div sec:authorize="isAnonymous()">You have to login to delete or update task</div>
<div sec:authorize="isAuthenticated()">
    <h2 th:text="${tasklist.name}"></h2>

    <h2>Add new Task </h2>
    <form th:action="@{/rest/tasklist/__${tasklist.id}__/tasks/add}" method="post" th:object="${newTask}">
        <label for="name">Task List Name</label>
        <input type="text" th:field="*{name}" id="name" name="name"  placeholder="name" required autofocus>

        <!--<label for="taskBoxes">Choose Dependency</label>
        <tr th:each="task,stat :${tasks}" id="taskBoxes">
            <td><input type="checkbox" th:field="${newTask.taskRelation}" th:value="${task}" th:text="${task.name}" ></td>
        </tr>-->
        <ul>
            <li th:each="task: ${tasks}">
                <input type="checkbox"
                       th:field="${newTask.taskRelation}"
                       th:value="${task}"
                       th:name="taskRelation">
                <!--<label
                        th:for="${#ids.prev('taskRelation')}"
                        th:text="${task.name}"></label>-->
            </li>
        </ul>
        <button type="submit">Create</button>
    </form>
    <table >
        <tr>
            <th>Tasks name</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.name}"></td>
        </tr>
    </table>
</div>
</body>
</html>
