<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Info</title>

</head>

<body class="text-center">
<div sec:authorize="isAnonymous()">You have to login to delete or update list</div>
<div sec:authorize="isAuthenticated()">
    <table >
        <table border="1" cellpadding="5">
            <caption><h2>Main User Information</h2></caption>
            <tr>
                <th>Name</th>
                <th>Email</th>

            </tr>
            <tr th:object="${user}">
                <td th:text="*{username}"></td>
                <td th:text="*{email}"></td>
            </tr>
        </table>
    </table>

    <h2>Add new Table</h2>
    <form th:action="@{/rest/user/__${user.id}__/add/table}" method="post" th:object="${table}">
        <label for="name">Table Name</label>
        <input type="text" th:field="*{name}" id="name" name="name"  placeholder="name" required autofocus>

        <button type="submit">Sign in</button>
    </form>

    <table >
        <tr>
            <th>Table name</th>
        </tr>
        <tr th:each="table : ${userTables}">
            <td><a th:href="@{/table/__${table.id}__}" th:text="${table.name}"></a></td>
        </tr>
    </table>
</div>
</body>
</html>
