<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Info</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>

</head>

<body class="text-center">
<div sec:authorize="isAnonymous()">You have to login to delete or update list</div>
<div sec:authorize="isAuthenticated()">
    <table >
        <table border="1" cellpadding="5">
            <caption><h2>Main User Information</h2></caption>
            <tr>
                <th>Name</th>
                <th>Email</th>

            </tr>
            <tr th:object="${user}">
                <td th:text="*{username}"></td>
                <td th:text="*{email}"></td>
            </tr>
        </table>
    </table>

    <h2>Add new Table</h2>
    <form th:action="@{/rest/user/__${user.id}__/add/table}" method="post" th:object="${table}">
        <label for="name">Table Name</label>
        <input type="text" th:field="*{name}" id="name" name="name"  placeholder="name" required autofocus>

        <button type="submit">Sign in</button>
    </form>

    <h2>Merge tables</h2>
    <form th:action="@{/rest/table/merge}" method="get">

        <span>From</span>
        <select th:name="from">
            <option th:each="userTable : ${userTables}"
                    th:value="${userTable.id}"
                    th:text="${userTable.name}"></option>
        </select>

        <span>To</span>
        <select th:name="to">
            <option th:each="userTable : ${userTables}"
                    th:value="${userTable.id}"
                    th:text="${userTable.name}"></option>
        </select>
        <button type="submit">Merge</button>
    </form>

    <table >
        <tr>
            <th>Table name</th>
        </tr>
        <tr th:each="table : ${userTables}">
            <td><a th:href="@{/table/__${table.id}__}" th:text="${table.name}"></a></td>
        </tr>
    </table>
</div>

<h2>
    Graphical representation of All Tables
</h2>

<div id="mynetwork"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var message = /*[[${userTables}]]*/ 'default';

    /*]]>*/
    var array = [];
    message.forEach(function (table) {
        array.push({id:table.id, label: table.name});

    });
    // create an array with nodes
    var nodes = new vis.DataSet(array);

    var array2 = [];
    message.forEach(function (task) {

    });
    // create an array with edges
    var edges = new vis.DataSet(array2);

    // create a network
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};
    var network = new vis.Network(container, data, options);
</script>

</body>
</html>
