<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>The Main Page</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
</head>

<body >
    <h1>All Tables in Service</h1>
    <table>
        <tr>
            <th>Table List</th>
        </tr>
        <tr th:each="table : ${tables}">
            <td><a th:href="@{/table/__${table.id}__}" th:text="${table.name}">Go to</a></td>
        </tr>
    </table>
</form>
</body>
</html>
